body {
  padding-top: 70px;
}

.jumbotron {
  background: url(../img/background.png) no-repeat center center;
  margin-bottom: 0px;
  width: 100%;
  height: 400px;
}

.jumbotext {
  font-family: helvetica;
}

p span {
  font-family: helvetica;
  color: black;
  background-color: #3490bd;
}
